.about {
    padding-block-start: 200px;
    padding-block-end: 200px;
    padding-inline-start: 233px;
    padding-inline-end: 233px;
    margin: auto;
}

.about-content p{
    font-family: 'Oxygen', sans-serif;
    font-size: 34px;
    line-height: 55px;
}

.about-content h5 {
    font: var(--headline5);
}

.about-content img {
    display: block;
    margin: auto;
}