.hero {
    padding-block-start: 16px;
}

.hero-img {
    text-align: center;
}

.hero-img img {
    inline-size: 330px;
    block-size: 328px;
    max-inline-size: 100%;
    block-size: auto;
}

.hero h1 {
    font: var(--headline3);
    margin: 0;
}

.hero h1 span:nth-of-type(1) {
    font: var(--headline5);
    display: block;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        gap: 32px;       
    }
    .hero-description {
        order: 1; /* especifica el orden utilizado para disponer los elementos en su contenedor flexible */
        max-inline-size: 450px;
    }
    .hero-img {
        order: 2; /* especifica el orden utilizado para disponer los elementos en su contenedor flexible */
        flex: 1; /* Si quiero que el elemento tome todo el espacio disponible */
        text-align: end;
    }

}

@media screen and (min-width: 1024px) {

    .hero-img img {
        inline-size: 504px;
        block-size: 500px;
    }

}